.login-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  width: 400px;
  margin: auto;
  border: 1px solid gray;
  background-color: transparent;
  padding: 2rem;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}

  .login-modal-heading {
    font-size: 2.5rem;
    margin: 0rem 0;
    color: black
  }

  .login-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
  }

  .login-modal-label {
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
    width: 100%;
    font-size: 1.0rem;
    font-weight: 560;

  }

  .login-modal-input {
    padding: 0.3rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    border: 1px solid gray;
    width: 100%;
    max-width: 350px;
    height: 41px;
    font-size: 1.0rem;
  }

  .login-modal-errors {
    color: red;
    margin-bottom: 1rem;
  }
/*
  .login-modal-button {
    padding: 0.8rem;
    margin: 0.6rem 0;
    margin-left: 10px;
    border-radius: 8px;
    border: none;
    background-color: #5BC5A7;
    color: white;
    cursor: pointer;
    width: 365px;
    height: 40px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  } */



  .login-modal-button,
  .login-modal-button-demo {
    padding: 0.5rem 1rem;
    margin: 12.8px 0;
    border-radius: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    width: 338px;

  }
  .login-modal-button {
    background-color: #fff;
    color: #5bc5a7;
    border: 2px solid #5bc5a7;
    margin-bottom: 6px;
  }

  .login-modal-button-demo {
    background-color: #5bc5a7;
    color: white;
    border: 2px solid #5bc5a7;
  }
  .login-modal-button:hover,
  .login-modal-button-demo:hover {
    background-color: #48a289;
    border: 2px solid #48a289;
    color: white;
  }

  .login-modal-button:active,
  .login-modal-button-demo:active {
    background-color: #3c7f56;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
  }

  #modal-content{
    border: none;
    background-color: transparent;
  }


  @media screen and (max-width: 601px) {
    #modal-content{
      width: 90%;
      border: none;
      background-color: transparent;
    }

    .login-modal-container {
      width: 90%;
      padding: 1rem;
      background-color: white;
      border-radius: 10px;
    }

    .login-modal-heading {
      font-size: 2rem;
    }

    .login-modal-input {
      height: 35px;
      font-size: 0.9rem;
    }

    .login-modal-button,
    .login-modal-button-demo {
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      margin: 0.5rem 0;
    }
  }
