@media screen and (min-width: 81em) {
    .drop_down_menu_button {
        display: none;
    }
}

.drop_down_menu_button {
    color: #5BC5A7;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    margin-left: 2rem;
}

.sidebar-dropdown {
    position: absolute;
    top: 80px;
    list-style: none;
    margin: 0;
    background-color:#c5f9ea;
    padding: 2rem;
    border-radius: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}
