/* TODO: Add styling for 404 Page */
.page-not-found-background {
    background-image: url("../../assets/empty-wallet.jpg");
    background-repeat: no-repeat;
    filter: contrast(50%);
    min-height: 100vh;
    width: 100%;
}

.page-not-found-content-div {
    font-size: 50px;
    padding-top: 25%;
    padding-left: 5%;
}

.page-not-found-wrapper {
    margin-left: 293px;
}

@media (min-width: 1024px) {
    .page-not-found-wrapper {
      min-height: 1200px;
    }
  }

  @media (min-width: 1280px) {
    .page-not-found-wrapper {
      min-height: calc(100vh - 221px);
    }
  }
