/* TODO: Add styling for 404 Page */
.page-not-found-background {
    background-image: url("../../assets/empty-wallet.jpg");
    background-repeat: no-repeat;
    filter: contrast(50%);
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

/* .page-not-found-content {
    position: relative;
    top: 100px;
    left: 50%;
    z-index: 1;
} */

.page-not-found-wrapper {
    margin-left: 295px;
}

@media (min-width: 1024px) {
    .page-not-found-wrapper {
      min-height: 1200px;
    }
  }

  @media (min-width: 1280px) {
    .page-not-found-wrapper {
      min-height: calc(100vh - 221px);
    }
  }
