/* TODO: ADD STYLING FOR settledEXPENSES HERE */
.payment_history_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 15rem;
  padding: 1rem;
  width: calc(100% - 300px);
}

.settled_expenses_header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background-color: rgb(232, 232, 232);
  border-radius: .5rem;
}

.settled_expenses_header_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  font-size: 1.3rem;
}

.settled_expenses_header {
  margin-left: 6px;
}

.settled_expenses_icon {
  color: #5bc5a7;
  font-size: 1.5rem;
}

.settled_expense_summaries_div {
  width: 100%;
}

.settled_expenses_div {
  margin: 1rem 0;
}

.settled_expenses_date_heading {
  padding: 1rem;
  background-color: #5bc5a7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  text-align: center;
}

/* Payment Details */
.payment_details_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1.5px solid #5bc5a7;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.payment_details_div:hover {
  background-color: #c7fdee;
}

.payment_details_heading {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.payment_details_date {
  flex: 1;
  font-size: 0.9rem;
}

.payment_details_description {
  flex: 2;
  font-size: 0.9rem;
}

.payment_details_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 0.9rem;
  text-align: right;
}

.payment_details {
  margin-bottom: 0.25rem;
}

.payment_details_bold {
  font-weight: bold;
}

.settled_expenses_div .payment_details_div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
