.signup-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
    min-width: 600px;
    border: 1px solid gray;
    padding: 2rem;
    overflow: hidden;
  }

  .signup-modal-heading {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .signup-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
  }

  .signup-modal-label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.3rem;
  }

  .signup-modal-input {
    padding: 0.2rem;
    margin: 0.1rem 0;
    border-radius: 8px;
    border: 1px solid gray;
    width: 100%;
    max-width: 350px;
    height: 30px;
    font-size: 1.1rem;
  }

  .signup-modal-errors {
    color: red;
    margin-bottom: 1rem;
  }

  .signup-modal-button {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    border: none;
    background-color: #5BC5A7;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .signup-modal-button:hover {
    background-color: rgb(58, 108, 58);
  }
