.add_friend_modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  .add_friend_modal_form_label_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .add_friend_modal_icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .fa-divide {
    color: #5bc5a7;
    font-size: 2rem;
    padding: 0px;
    margin-right: 0px;
    margin-top: 5px;
  }

  .add_friend_modal_label {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 380px;

  }


  .add_friend_modal_input {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 1rem;
    width: 95%;
  }

  /* .add_friend_modal_submit_button {
    background-color: #5bc5a7;
    color: white;
    border: 2px solid #5bc5a7;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
  }

  .add_friend_modal_submit_button:hover {
    background-color: #48a289;
    border: 2px solid #48a289;
    color: white;
  } */


  .add_friend_modal_form ul {
    list-style-type: none;
    color: red;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .add_friend_modal_form ul li {
    margin-bottom: 0.5rem;
  }

  .add_friend_modal_form input[type='email']:focus {
    outline: none;
    border-color: #5bc5a7;
    box-shadow: 0 0 0 3px rgba(91, 197, 167, 0.25);
  }

  .button_container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 18px;
  }
  .add_friend_modal_cancel_button,
  .add_friend_modal_submit_button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  .add_friend_modal_cancel_button {
    background-color: #fff;
    color: #5bc5a7;
    border: 2px solid #5bc5a7;
  }

  .add_friend_modal_submit_button {
    background-color: #5bc5a7;
    color: white;
    border: 2px solid #5bc5a7;
  }
  .add_friend_modal_cancel_button:hover,
  .add_friend_modal_submit_button:hover {
    background-color: #48a289;
    border: 2px solid #48a289;
    color: white;
  }

  .add_friend_modal_cancel_button:active,
  .add_friend_modal_submit_button:active {
    background-color: #3c7f56;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
  }
