.add_friend_modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 400px;
  }

  .add_friend_modal_form_label_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .add_friend_modal_icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .fa-money-bill {
    color: #5bc5a7;
    font-size: 2rem;
  }

  .add_friend_modal_label {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 380px;
    margin-right: 1rem;
  }

  .add_friend_modal_input {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 1rem;
    width: 95%;
  }

  .add_friend_modal_submit_button {
    background-color: #5bc5a7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
  }

  .add_friend_modal_submit_button:hover {
    background-color: #449a84;
  }

  .add_friend_modal_form ul {
    list-style-type: none;
    color: red;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .add_friend_modal_form ul li {
    margin-bottom: 0.5rem;
  }

  .add_friend_modal_form input[type='email']:focus {
    outline: none;
    border-color: #5bc5a7;
    box-shadow: 0 0 0 3px rgba(91, 197, 167, 0.25);
  }
