.friend_details_div {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 300px;
    padding: 1rem;
  }


.friend_details_info_div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  font-size: 1.3rem;
}

.friend_details_user_info_div {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 66%;
    background-color: rgb(232, 232, 232);
    border-radius: .5rem;
}

.expense_details_user_icon {
  margin-right: 10px;
}

/* Mobile Styling */
@media screen and (max-width:80rem) {
  /* body {
    color: red;
  } */

  /* Get the total balance to display under the friend name*/
  /* .friend_details_info_div {
    display: flex;
    flex-direction: row;
  } */
}
