.friend_details_div {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1.3fr .3fr;
    grid-template-rows: .3fr 1fr;
    grid-template-areas:
    "friend_info total_balance"
    "expense_summaries total_balance";
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 15rem;
    padding: 1rem;
  }


.friend_details_info_div {
  grid-area: friend_info;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  font-size: 1.3rem;
}

.friend_details_user_info_div {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 95%;
    background-color: rgb(232, 232, 232);
    border-radius: .5rem;
}

.expense_details_user_icon {
  margin-right: 10px;
}

.friend_total_balance_div {
  grid-area: total_balance;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.friend_details_expense_summaries_div {
  grid-area: expense_summaries;
}

/* Mobile Styling */
@media screen and (max-width:80rem) {
  /* body {
    color: red;
  } */

  /* Get the total balance to display under the friend name*/
  /* .friend_details_info_div {
    display: flex;
    flex-direction: row;
  } */
}
