.friend_details_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    margin-top: 80px;
    /* position: absolute; */
  }


  .friend_details_info_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 341px;
    background-color: rgb(232, 232, 232);
    margin-right: 330px;
    height: 52px;
    font-size: 1.3rem;
}

.friend_details_user_info_div {
    display: flex;
    align-items: center;
    margin-left: 10px;

  }

  .expense_details_user_icon {
    margin-right: 10px;
  }

/* Mobile Styling */
@media screen and (max-width:80rem) {
  /* body {
    color: red;
  } */

  /* Get the total balance to display under the friend name*/
  /* .friend_details_info_div {
    display: flex;
    flex-direction: row;
  } */
}
