.total_balance_div {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .positive_balance {
    color: #4caf50;
  }

  .negative_balance {
    color: red;
  }


@media screen and (max-width:50rem) {
  /* Get the total balance to display under the friend name*/
  .total_balance_div {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .total_balance_label_div {
    margin-right: 1rem;
  }
}
