/* TODO: ADD STYLING FOR settledEXPENSES HERE */
.settled_expenses_header_container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 81px;
    margin-left: 340px;
    margin-right: 330px;
    background-color: rgb(232, 232, 232);
    height: 52px;
    /* font-size: 1.3rem; */
}

.settled_expenses_header_label{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10px;
    font-size: 1.3rem;


}

.settled_expenses_header{
    margin-left: 6px;
}

.settled_expenses_icon{
  color: #5BC5A7;
}
