.expense_summary_container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }

  .expense_summary_month_year {
    padding: 1rem;
    background-color: #5BC5A7;
    font-weight: bold;
    text-align: center;
  }

  .expense_summary_details_container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .expense_summary_details_container:hover {
    background-color: #f7f7f7;
  }

  .expense_summary_expense_date {
    flex: 1;
    font-size: 0.9rem;
  }

  .expense_summary_expense_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 1rem;
  }

  .expense_summary_expense_description {
    flex: 2;
    font-size: 0.9rem;
  }

  .expense_summary_expense_payerInfo {
    flex: 1;
    font-size: 0.9rem;
    text-align: right;
  }

  .expense_summary_amount {
    font-weight: bold;
  }
